<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    
<div class="container">

<header>

    <a href="#" class="logo">Smart<span>Study</span></a>

    <div id="menu" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="/">Kezdőlap</a>
        <a href="/course">Kursusok</a>
        <a href="/teacher">Koordinátorok</a>
        <a href="/price">Árak</a>
        <a href="/review">Vélemények</a>
        <a href="/contact">Kapcsolat</a>
    </nav>

</header>