<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <%- include('../partials/header.ejs')%>
        <main><%- body %></main>
        <%- include('../partials/footer.ejs')%>
</body>
</html>