<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<!-- home section  -->

<section class="home">

    <div class="content">
        <h3>E-learning is a better way of learning</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia repellat aperiam libero, beatae debitis iusto quia sit aliquid placeat facilis?</p>
        <a href="#" class="btn">get started</a>
    </div>

    <div class="image">
        <img src="img/home-img.svg" alt="">
    </div>

</section>
<!-- custom js file link -->
<script src="js/script.js"></script>

</body>
</html>