<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>review</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    
<div class="container">

<h1 class="heading"> student's review </h1>

<!-- review section  -->

<section class="review">

    <div class="box">
        <div class="student">
            <div class="student-info">
                <img src="img/student-1.png" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>student</span>
                </div>
            </div>
            <i class="fas fa-quote-right"></i>
        </div>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A molestiae ipsa mollitia. Dolore sapiente animi ab eligendi voluptatum ipsa omnis.</p>
    </div>

    <div class="box">
        <div class="student">
            <div class="student-info">
                <img src="img/student-2.png" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>student</span>
                </div>
            </div>
            <i class="fas fa-quote-right"></i>
        </div>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A molestiae ipsa mollitia. Dolore sapiente animi ab eligendi voluptatum ipsa omnis.</p>
    </div>

    <div class="box">
        <div class="student">
            <div class="student-info">
                <img src="img/student-3.png" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>student</span>
                </div>
            </div>
            <i class="fas fa-quote-right"></i>
        </div>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A molestiae ipsa mollitia. Dolore sapiente animi ab eligendi voluptatum ipsa omnis.</p>
    </div>

    <div class="box">
        <div class="student">
            <div class="student-info">
                <img src="img/student-4.png" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>student</span>
                </div>
            </div>
            <i class="fas fa-quote-right"></i>
        </div>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A molestiae ipsa mollitia. Dolore sapiente animi ab eligendi voluptatum ipsa omnis.</p>
    </div>

    <div class="box">
        <div class="student">
            <div class="student-info">
                <img src="img/student-5.png" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>student</span>
                </div>
            </div>
            <i class="fas fa-quote-right"></i>
        </div>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A molestiae ipsa mollitia. Dolore sapiente animi ab eligendi voluptatum ipsa omnis.</p>
    </div>

    <div class="box">
        <div class="student">
            <div class="student-info">
                <img src="img/student-6.png" alt="">
                <div class="info">
                    <h3>john deo</h3>
                    <span>student</span>
                </div>
            </div>
            <i class="fas fa-quote-right"></i>
        </div>
        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A molestiae ipsa mollitia. Dolore sapiente animi ab eligendi voluptatum ipsa omnis.</p>
    </div>

</section>

</div>

<!-- custom js file link -->
<script src="js/script.js"></script>

</body>
</html>